<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJRwLkP5OWu9pXB2BBv8AlHBS29q9WOY8</string>
	<key>GCM_SENDER_ID</key>
	<string>842790635400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fon.CalorieTracker</string>
	<key>PROJECT_ID</key>
	<string>calorietracker-4b360</string>
	<key>STORAGE_BUCKET</key>
	<string>calorietracker-4b360.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842790635400:ios:277f08b1788b495b4f5c3d</string>
	<key>DATABASE_URL</key>
	<string>https://calorietracker-4b360-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>